{% extends "layout.html" %}

{% block title %}
    Account Overview
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width:20%">Symbol</th>
                <th style="width:20%">Name</th>
                <th style="width:20%">Shares</th>
                <th style="width:20%">Price</th>
                <th style="width:20%">Value</th>
            </tr>
        </thead>
        {% for share in shares %}
        <tr>
            <td>{{ share.symbol }}</td>
            <td>{{ share.name }}</td>
            <td>{{ share.qty or 0 }}</td>
            <td>{{ share.price }}</td>
            <td>{{ share.value }}</td>
        </tr>
        {% endfor %}
        
    </table>
{% endblock %}
